/********************************************************************************************* 

x. bigger than 960px

*********************************************************************************************/
@media only screen and (min-width: 960px) {
	body header ul#nav {
		opacity: 1;	
		li {
			opacity: 1;	
		}
	}
	#toggle {
		display: none;	
	}
}

/********************************************************************************************* 

x. Smaller than 1200px

*********************************************************************************************/
@media only screen and (max-width: 1200px) {
	html, body {
		font-size: 18px;	
	}
	h1 {
		font-size: 3.8em;	
		&.smaller {
			font-size: 2.8em;	
		}
	}
	.page-text {
		bottom: 120px;	
		h1 {
			line-height: 75px;	
		}
	}
	.page-text h1 span {
		height: 75px;	
	}
	.three-col .col {
		padding: 40px;	
	}
	#recent-work .work .inner {
		padding: 25px 25px 0 25px;	
	}
	.mix-container {
		margin-top: 20px;	
		padding-left: 20px;	
		padding-right: 20px;	
	}
	.mix {
		padding: 20px;	
	}
	.image-text>div {
		padding: 40px;	
	}
	.schwa {
		transform-origin: center 54px;
	}
	.topper {
		font-size: 20px !important;	
	}
	section#experience {
		.image-side {
			padding-top: 20px;	
			padding-right: 0;
			width: 55%;		
		}
		.text-side {
			width: 45%;	
		}
	}
	#specialty ul.list {
		padding: 0;	
	}
	#our-clients {
		padding: 40px;	
	}
	.page-text {
		bottom:100px;
	}
}

/********************************************************************************************* 

x. Smaller than 1060px

*********************************************************************************************/
@media only screen and (max-width:1060px) {
	
	html, body {
		font-size: 16px;	
	}
	h1 {
		font-size: 3.6em;	
		&.smaller {
			font-size: 2.6em;	
		}
	}
	.page-text {
		left: 80px;
		bottom: 70px;	
		right: 120px;	
		width: auto;	
		h1 {
			line-height: 66px;	
		}
		p {
			br {
				display: none;	
			}
		}
	}
	.page-text h1 span {
		height: 66px;	
	}
	.three-col .col {
		padding: 30px;	
	}
	#recent-work {
		padding-left: 0;	
		padding-right: 0;	
	}
	
	.approach {
			float: left !important;
	}
	.client-logo {
		img {
			width: 100%;	
		}
	}
	#our-clients {
		padding: 30px;	
	}
	.mix-container {
		padding-left: 15px;	
		padding-right: 15px;	
	}
	#recent-work .work .inner {
		padding: 15px 15px 0 15px;	
	}
	.padding {
		padding: 30px;	
	}
	.schwa {
		transform-origin: center 46px;
	}
	.container {
		padding-left: 30px;	
		padding-right: 30px;	
	}
	#nav {
		position: absolute;	
		width: 100%;	
		padding-left: 100px;	
		li {
			&:last-child {
				padding-left: 10px;	
				margin-left: 0;	
			}
		}
	}
	section#experience {
		.image-side {
			width: 100%;	
		}
		.text-side {
			width: 100%;	
		}
	}
	#recent-work .work-img {
		min-height: 360px;	
	}
}

/********************************************************************************************* 

x. Smaller than 960px

*********************************************************************************************/
@media only screen and (max-width:960px) {
	#toggle {
		display: block;	
	}
	body.open header ul#nav {
		display: flex;
		pointer-events: all;
	}
	#nav {
		background: #fff;	
		bottom: 0;	
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		position: fixed;	
		left: 0;	
		top: 0;	
		width: 100%;	
		pointer-events: none;
		padding-left: 0;	
		li {
			display: block;	
			width: 100%;	
			a {
				font-size: 16px;	
				padding: 20px;	
			}
			&:last-child {
				padding-left: 10px;	
				margin-left: 0;	
				&:after {
					display: none;	
				}	
			}
		}
	}
	#toggle {
		right: 30px;	
	}
	.image-bg {
		left: 30px;	
		right: 30px;	
		bottom: 30px;	
	}
	.image-fill {
		left: 30px;	
		right: 30px;	
		bottom: 30px;
		z-index: 9 !important;	
	}
	.intro .page-text {
		bottom: 30px;	
	}
	.big-padding {
		padding-top: 80px;	
		padding-bottom: 80px;	
	}
	.mix-container {
		padding-left: 15px;	
		padding-right: 15px;	
	}
	.mix {
		padding: 15px;	
		width: 50%;	
	}
	#team {
		.container {
			padding-left: 0;	
			padding-right: 0;	
		}
	}

	.image-text>div {
		padding: 15px;	
	}
	
	.image-text .image-side {
		padding: 15px 30px 15px 0;	
	}
	.page-template-services .callout {
		margin-bottom: 30px;	
	}
	.intro .image-fill {
		left: 30px;	
		bottom: 30px;	
		right: 30px;	
	}
	.intro {
		min-height: 340px;	
	}
	.three-col {

// 		max-width: 550px;	
		margin-left: auto;	
		margin-right: auto;	
		float: none;	
		.col {
			width: 100%;	
// 			padding: 20px;	
		}
		.learn-more-full {
			width: 100%;	
			clear: both;	
			display: flex;
		    justify-content: center;
		    align-items: center;
			.container.smaller {
				padding: 0;	
			}
			a.btn {
				padding: 16px;	
			}
		}
	}
	.col-icon {
		width: 80px;	
		height: 80px;	
		padding: 12px 0;	
		svg {
			width: 50px;	
			height: 50px;	
		}
	}
	.compass-col {
		.col-icon {
		@include transition(.35s, all);
		}
	}
	.compass-col .arrow {
		margin: -25px 0 0 -25px;	
		-moz-transform: none !important;
		-webkit-transform: none !important;
		-o-transform: none !important;
		-ms-transform: none !important;
		transform: none !important;
		@include transition(.35s, all);
	}
	.compass-col {
		&:hover {
			.arrow svg {
				position: relative;
				-moz-transform: rotate(0deg) !important;
				-webkit-transform: rotate(0deg) !important;
				-o-transform: rotate(0deg) !important;
				-ms-transform: rotate(0deg) !important;
				transform: rotate(0deg) !important;
			}
			.col-icon {
				-moz-transform: rotate(360deg);
				-webkit-transform: rotate(360deg);
				-o-transform: rotate(360deg);
				-ms-transform: rotate(360deg);
				transform: rotate(360deg);
				transform-origin: center center;
			}
		}
	}
	.fire-col {
		&:hover {
			.flames {
				position: relative;
				-webkit-animation: flameup 1.5s infinite; /* Chrome, Safari, Opera */
				-ms-animation: flameup 1.5s infinite;
				animation: flameup 1.5s infinite;
				transform-origin: center center;
			}
		}
	}
	#recent-work {
		.container {
			padding-left: 15px;	
			padding-right: 15px;	
			.mix-container {
				padding: 0;	
			}
		}
	}
	#logo {
		left: -45px;	
	}
	.callout.larger {
		padding: 60px 30px;	
	}
	#team {
		.titles {
			padding-left: 30px;	
			padding-right: 30px;	
		}
	}
	#nav li:last-child {
		padding-left: 0;	
	}
	.image-fill {
		opacity: 1 !important;	display: block !important;	
	}
	.column-2 {
		display: none;	
	}
	#view-more {
		display: block;	
	}
	.terrain .flex-direction-nav a {
		display: none;	
	}
}	

/********************************************************************************************* 

x. Smaller than 769px

*********************************************************************************************/
@media only screen and (max-width:769px) {
	.width-45, .width-50, .width-55 {
		width: 100%;	
	}
	#banner-logo svg {
		width: 224px;	
		height: 40px;	
	}
	h1.smaller {
		font-size: 2em;	
	}
	.image-fill {
		left: 30px;	
		top: 30px;	
		bottom: 30px;	
		right: 30px;	
	}
	#specialty ul.list li, #specialty .listed li {
		width: 100%;	
	}
	
	#fp-nav.fp-right {
		right: 30px;	
		bottom: 30px;	
	}
	.section-logo {
		display: none;	
	}
	.page-text {
	    left: 50px;
	    bottom: 50px;
	    right: 50px;
	    h1 {
		    height: auto;	
		    line-height: 45px;	
		    font-size: 2.6em;	
			span {
				height: auto;	
				line-height: 45px;	
			}
	    }
	}
	#section2 {
		.page-text h1 {
			height: 145px;	
		}
		.page-text h1 span {
			height: 90px;	
		}
	}
	.intro {
		.page-text {
			h1 {
				line-height: 1.3;	
				font-size: 1.9em;	
			}
		}
	}
	
	.client-logos .client-logo {
		min-height: 120px;
		width: 50%;	
		border-right: 1px solid rgba(255,255,255,0.5) !important;	
		border-bottom: 	1px solid rgba(255,255,255,0.5) !important;
		&:nth-child(2n + 2) {
		    border-right: none !important;	
	    }
	}
	#recent-work .work {
		width: 100%;	
	}
	footer {
		padding-left: 0;	
		padding-right: 0;	
		.f-logo {
			text-align: center;
			max-width: none;	
			width: 100%;	
			margin-top: 20px;	
			margin-bottom: 20px;	
			margin-left: 0;
			position: relative;	
			left: auto;		
		}
		.f-left {
			width: 100%;	
			text-align: center;	
			margin-bottom: 20px;	
		}
		.f-right {
			width: 100%;	
			text-align: center;	
			max-width: 200px;
		    float: none;
		    margin: 0 auto;
		    clear: both;	
		}
	}
	.person-title {
		.divider {
			display: none;	
		}
		p.job {
				display: block;	
				clear: both;	
			}
	}
	.full-information .inside {
		padding: 30px 20px;	
	}
	.image-text .image-side {
		padding-right: 0;	
	}
	#recent-work .work-img {
		height: 280px;	
		min-height: 0;	
	}
	.mix {
		width: 100%;	
	}
	.image-text .image-side .quote-slider {
	    width: 100%;
	    position: relative;
	    height: 400px !important;
	}
	.image-text .image-side .bg {
		opacity: 1;	
	}
	.image-text .image-side .quote {
		width: 100%;	
		padding: 20px;	
	}
	.image-text .image-side .quote:before {
		left: 15px;	
		bottom: 100%;	
		top: -5px;
	}
	.image-text .image-side .quote:after {
		right: 15px;	
		top: 100%;	
		bottom:-5px;
		display: none;	
	}
	.image-text .image-side .quote-slider .slides>li .cover {
		left: 0;	
		top: 0;	
		right: 0;	
		bottom: 0;	
		margin-bottom: 20px;	
	}
	#specialty {
		.padding {
			padding: 0;	
			border-bottom: 1px solid $tan;		
			.listed {
				padding-left: 0;	
				padding-right: 0;	
			}
		}
	}
	.padding.outer {
		padding: 0;	
		margin-top: 50px;	
	}
	#approach {
		.padding {
			padding-left: 0;	
			padding-right: 0;	
			padding-bottom: 0;		
		}
	}
	
	.approach {
		padding-left: 0;
		.number {
			position: relative;	
			margin-bottom: 30px;	
		}	
	}
	.stroke1, .stroke2 {
		display: none;	
	}
	#recent-work .full-information .inside {
		padding-left: 0;	
		padding-right: 0;	
	}
	#recent-work .full-information {
		padding: 0;	
	}
	.slideshow {
		width: 100%;	
		padding-right: 0;	
		margin-bottom: 50px;	
	}
	.content ul, .content ol {
		padding-left: 0;	
	}
	#recent-work .full-information .close {
		right: 0;	
	}
	.image-text>div {
		padding: 0;	
	}
	h2 {
		font-size: 2.2em;	
	}
	h2.cs-title {
		font-size: 1.8em;	
	}
	#jobs {
		padding-left: 0;	
		padding-right: 0;	
	}
	#jobs input[type="button"] {
		margin-top: 20px;	
		
	}
	.intro {
		min-height: 260px;	
	}
	
	form {
		padding: 30px 0px;	
	}
	
	.page-template-careers {
		.image-side {
			display: none;	
		}
	}
	.slider2, .slider3, .slider4 {
		display: none;	
	} 
	.image-text .image-side .slides-container {
		min-height: 0;
	}
	.listed ul li:last-child {
		border-top: 1px solid $tan;
	}
	#specialty {
	}
	@keyframes flameup { 
	0% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	20% { 
		-moz-transform: scale(1.02) rotate(-2deg);
		-webkit-transform: scale(1.02) rotate(-2deg);
		-o-transform: scale(1.02) rotate(-2deg);
		-ms-transform: scale(1.02) rotate(-2deg);
		transform: scale(1.02) rotate(-2deg);
	}
	40% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	60% { 
		-moz-transform: scale(.98) rotate(-2deg);
		-webkit-transform: scale(.98) rotate(-2deg);
		-o-transform: scale(.98) rotate(-2deg);
		-ms-transform: scale(.98) rotate(-2deg);
		transform: scale(.98) rotate(-2deg);
	}
	80% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	100% {
		-moz-transform: scale(1.013) rotate(-2deg);
		-webkit-transform: scale(1.013) rotate(-2deg);
		-o-transform: scale(1.013) rotate(-2deg);
		-ms-transform: scale(1.013) rotate(-2deg);
		transform: scale(1.013 rotate(-2deg));
	}
}

@-webkit-keyframes flameup { 
	0% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	20% { 
		-moz-transform: scale(1.07) rotate(-2deg);
		-webkit-transform: scale(1.07) rotate(-2deg);
		-o-transform: scale(1.07) rotate(-2deg);
		-ms-transform: scale(1.07) rotate(-2deg);
		transform: scale(1.07) rotate(-2deg);
	}
	40% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	60% { 
		-moz-transform: scale(.92) rotate(-2deg);
		-webkit-transform: scale(.92) rotate(-2deg);
		-o-transform: scale(.92) rotate(-2deg);
		-ms-transform: scale(.92) rotate(-2deg);
		transform: scale(.92) rotate(-2deg);
	}
	80% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	100% {
		-moz-transform: scale(1.01) rotate(-2deg);
		-webkit-transform: scale(1.01) rotate(-2deg);
		-o-transform: scale(1.01) rotate(-2deg);
		-ms-transform: scale(1.01) rotate(-2deg);
		transform: scale(1.01 rotate(-2deg));
	}
}
@-moz-keyframes flameup { 
	0% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	20% { 
		-moz-transform: scale(1.07) rotate(-2deg);
		-webkit-transform: scale(1.07) rotate(-2deg);
		-o-transform: scale(1.07) rotate(-2deg);
		-ms-transform: scale(1.07) rotate(-2deg);
		transform: scale(1.07) rotate(-2deg);
	}
	40% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	60% { 
		-moz-transform: scale(.92) rotate(-2deg);
		-webkit-transform: scale(.92) rotate(-2deg);
		-o-transform: scale(.92) rotate(-2deg);
		-ms-transform: scale(.92) rotate(-2deg);
		transform: scale(.92) rotate(-2deg);
	}
	80% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	100% {
		-moz-transform: scale(1.01) rotate(-2deg);
		-webkit-transform: scale(1.01) rotate(-2deg);
		-o-transform: scale(1.01) rotate(-2deg);
		-ms-transform: scale(1.01) rotate(-2deg);
		transform: scale(1.01 rotate(-2deg));
	}
}

@-ms-keyframes flameup { 
	0% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	20% { 
		-moz-transform: scale(1.07) rotate(-2deg);
		-webkit-transform: scale(1.07) rotate(-2deg);
		-o-transform: scale(1.07) rotate(-2deg);
		-ms-transform: scale(1.07) rotate(-2deg);
		transform: scale(1.07) rotate(-2deg);
	}
	40% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	60% { 
		-moz-transform: scale(.92) rotate(-2deg);
		-webkit-transform: scale(.92) rotate(-2deg);
		-o-transform: scale(.92) rotate(-2deg);
		-ms-transform: scale(.92) rotate(-2deg);
		transform: scale(.92) rotate(-2deg);
	}
	80% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	100% {
		-moz-transform: scale(1.01) rotate(-2deg);
		-webkit-transform: scale(1.01) rotate(-2deg);
		-o-transform: scale(1.01) rotate(-2deg);
		-ms-transform: scale(1.01) rotate(-2deg);
		transform: scale(1.01 rotate(-2deg));
	}
}
	#myVideo {
		display: none;	
	}
	#section2 {
		.image-fill {
			display: block !important;	
			background-position: right center;
		}
	}
	.work-img {
		.vidbg {
			display: none;	
		}
	}
	.compass-col {
		.arrow {
			@include transition(.35s, all);
		}
	}
}

/********************************************************************************************* 

x. Smaller than 600px height

*********************************************************************************************/
@media only screen and (max-height:700px) {
	.page-text {
		bottom: 70px;	
	}
}