/********************************************************************************************* 

x. Variables

*********************************************************************************************/
$tan: #c5995d;
$green: #3d3b32;
$gray: #535153;
$lightgray: #e5e5e5;
$brown: #36342c;

/********************************************************************************************* 

x. Import

*********************************************************************************************/

@import 'fullpage';
@import 'flexslider';

/********************************************************************************************* 

x. Mixins

*********************************************************************************************/
@mixin transition($property, $time) {
  	-webkit-transition: $property $time ease;
	-moz-transition: $property $time ease;
	-ms-transition: $property $time ease;
	-o-transition: $property $time ease;
	transition: $property $time ease;
}

/********************************************************************************************* 

x. CSS Reset 

*********************************************************************************************/
* {
	margin: 0;
	padding: 0;
	min-height: 0;
	outline: none;
}

/********************************************************************************************* 

x. Typekit

*********************************************************************************************/
.wf-loading {        
  	visibility: hidden;
}  

.wf-active {        
	visibility: visible;
}

/*********************************************************************************************

x. Basic Setup (Body, Fonts, etc.) 

********************************************************************************************/
::selection {
	background: $tan;
	color: #fff;	
}
::-moz-selection {
	background: $tan;
	color: #fff;	
}

html, body {
	font: 20px montserrat, sans-serif;
	font-weight: 400;	
	color: $green;
	width: auto; height: auto;
	background: transparent;
}

a {
	color: $tan;
	text-decoration: none;	
}

a:hover {
  	color: $tan;
}

a.btn {
	padding: 16px 30px;		
	border: 2px solid $tan;	
	text-transform: uppercase;	
	font-weight: 500;	
	font-size: 14px;	
	letter-spacing: .08em;	
	@include transition(all, .35s);
	&.btn-white {
		border-color:#fff;
		color: #fff;	 
	}
	&:hover {
		background: $tan;
		color: $brown;
		border-color:$tan;
	}
	
}

.inline-block {
	display: inline-block !important;	
}

.block {
	display: block !important;	
}

.inline {
	display: inline !important;	
}

a img {
	border: none;
}

div, a {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.padding {
	padding: 40px;	
}

.full-float {
	float: left;
	width: 100%;	
}

.clear {
	clear: both;
	overflow: auto;
	zoom: 1;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	font-family: freight-macro-pro;
	font-weight: 400;	
	font-size: 4em;	
	letter-spacing: .01em;	
	margin-top: .3em;	
	&.smaller {
		font-size: 3.2em;	
	}
}

h2 {
	font-family: freight-macro-pro;
	font-weight: 100;	
	letter-spacing: .01em;	
	margin-top: .3em;	
	font-size: 2.7em;	
	line-height: 1.2em;	
	&.smaller {
		font-size: 2.1em;	
	}
}

h3 {
	letter-spacing: .05em;
}

.image img {
	width: 100%; height: auto;
}

.no-margin {
	margin: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;	
}

p, ul, ol {
	line-height: 1.9em;
}

.uppercase {
	text-transform: uppercase;
}

#wrapper {
	padding-top: 80px;	
}


.text-center {
	text-align: center !important;	
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;	
}

.center {
	position: absolute;	
	top: 50%;	
	left: 50%;	
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.cover {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.color-white {
	color: #fff !important;	
}

.color-tan {
	color: $tan !important;
}

.color-gray {
	color: $gray !important;
}

.bg-gray {
	background: $gray;
	.icon-fill {
		fill: $gray;
	}
}

.bg-lightgray {
	background: $lightgray;
	.icon-fill {
		fill: $lightgray;
	}
}

.bg-brown {
	background: $brown;
	.icon-fill {
		fill: $brown;
	}
}

.bg-green {
	background: $green;
	.icon-fill {
		fill: $green;
	}
}

.bg-tan {
	background: $tan;
	.icon-fill {
		fill: $tan;
	}
}

/********************************************************************************************* 

x. Columns & Widths

*********************************************************************************************/

.container {
	width: 100%;	
	margin-left: auto;	
	margin-right: auto;	
	max-width: 1600px;	
	&.smaller {
		max-width: 990px;	
	}
}

.column { }

.column.left {
	float: left;
}

.column.right {
	float: right;
}

.column.first .inside {
	padding-left: 0;
}

.column.last .inside {
	padding-right: 0;
}

.width-10 {width: 10%;}
.width-15 {width: 15%;}
.width-20 {width: 20%;}
.width-25 {width: 25%;}
.width-30 {width: 30%;}
.width-33 {width: 33.33%;}
.width-35 {width: 35%;}
.width-40 {width: 40%;}
.width-45 {width: 45%;}
.width-50 {width: 50%;}
.width-55 {width: 55%;}
.width-60 {width: 60%;}
.width-65 {width: 65%;}
.width-66 {width: 66.66%;}
.width-70 {width: 70%;}
.width-75 {width: 75%;}
.width-80 {width: 80%;}
.width-85 {width: 85%;}
.width-90 {width: 80%;}
.width-95 {width: 95%;}
.width-100 {width: 100%;}

.content {
	h2 {
		margin-bottom: .5em;	
	}
	h3 {
		margin-bottom: .1em;	
		text-transform: uppercase;	
		color: $tan;
	}
	p {
		margin-bottom: 2em;	
		&.topper {
			margin: 0;	
		}
	}
	ul, ol {
		margin-bottom: 2em;	
		padding-left: 40px;	
		li {
			padding-left: 20px;	
		}
	}
	ul {
		list-style-type: none;	
		li {
			position: relative;	
			&:before {
				content:"\2022";
				position: absolute;	
				left: 0;	
				color: $tan;
			}
		}
	}
}

/********************************************************************************************* 

x. WordPress Core

*********************************************************************************************/
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/********************************************************************************************* 

x. Header

*********************************************************************************************/

header {
	padding: 20px 40px;
	height: 80px;	
	position: fixed;	
	width: 100%;	
	left: 0;	
	top: 0;	
	z-index: 9999;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	background: #fff;	
}

#logo {
	padding: 7px 0;	
	float: left;
	position: relative;	
	left: -30px;	
	z-index: 999;	
	svg {
		width: 160px;	
		height: 28px;	
	}
	.logo-fill {
		fill: $gray;
	}
	.fill-1, .fill-2, .fill-3, .fill-4, .fill-5 {
		display: none;	
	}
	&:hover {
		svg {
			.logo-fill {
				fill: $tan !important;
			}
		}
	}
}

.home {
	#logo {
		opacity: 0;		
		@include transition(.35s, all);
	}
	&.fp-viewing-3, &.fp-viewing-2, &.fp-viewing-1  {
		#logo {
			opacity: 1;	
		}
	}
}

#nav {
	list-style-type: none;	
	text-align: center;	
	opacity: 0;	
	position: absolute;	
	left: 0;	
	width: 100%;	
		@include transition(.35s, all);
		line-height: inherit;

	li {
		display: inline-block;	
		a {
			font-weight: 600;	
			color: $gray;
			padding: 10px 20px;	
			display: block;	
			font-size: 14.5px;	
			letter-spacing: .08em;	
			text-transform: uppercase;	
			&:hover {
				color: $tan;
			}
		}
		&.divider {
			width: 2px;	
			background: $tan;
			margin: 0 20px;	
			overflow: hidden;	
			text-indent: -99999px;
			top: 3px;	
			position: relative;	
					
		}
		&:last-child {
			position: relative;	
/*
			padding-left: 20px;	
			margin-left: 15px;
			&:after {
				content:'';
				left: 0;	
				width: 2px;	
				background: $tan;
				top: 12px;	
				bottom: 12px;
				position: absolute;	
			}
*/
		}
		&.current_page_item {
			a {
				color: $tan;
			}
		}
	}
}

.section {
	.logo-fill {
		fill: #fff;
		opacity: 0;	
		-webkit-animation: listfade 1.5s forwards; /* Chrome, Safari, Opera */
		-ms-animation: listfade 1.5s forwards; /* Chrome, Safari, Opera */
		animation: listfade 1.5s forwards;
		&.fill-1 {
			animation-delay: .1s;
			-webkit-animation-delay: .1s;
			-ms-animation-delay: .1s;
		}
		&.fill-2 {
			animation-delay: .2s;
			-webkit-animation-delay: .2s;
			-ms-animation-delay: .2s;
		}
		&.fill-3 {
			animation-delay: .3s;
			-webkit-animation-delay: .3s;
			-ms-animation-delay: .3s;
		}
		&.fill-4 {
			animation-delay: .4s;
			-webkit-animation-delay: .4s;
			-ms-animation-delay: .4s;
		}
		&.fill-5 {
			animation-delay: .5s;
			-webkit-animation-delay: .5s;
			-ms-animation-delay: .5s;
		}
		&.fill-6 {
			animation-delay: 1s;
			-webkit-animation-delay: 1s;
			-ms-animation-delay: 1s;
		}
	}
	h1.fadeit {
		opacity: 0;	
		-webkit-animation: listfade 1.5s forwards; /* Chrome, Safari, Opera */
		-ms-animation: listfade 1.5s forwards;
		animation: listfade 1.5s forwards;
		-webkit-animation-delay: 1.4s;
		-ms-animation-delay: 1.4s;
		animation-delay: 1.4s;
	}
	
	.section-logo {
		position: absolute;	
		top: 140px;	
		left: 100px;	
		z-index: 999;	
		svg {
			width: 200px;	
			height: 35px;	
		}
	}
	
}

#toggle {
	width: 35px;	
	position: absolute;	
	right: 40px;	
	top: 24px;	
	opacity: 1;		
	@include transition(.35s, all);
	span {
		display: block;	
		width: 100%;	
		height: 4px;	
		background: $tan;
		margin: 3px 0;	
		@include transition(.55s, all);
		float: right;	
		&.middle {
			width: 25px;	
			float: right;	
		}
	}
	&:hover {
		span {
			background: $brown;
		}
		.top {
			width: 25px;	
		}
		.middle {
			width: 35px;	
		}
		.bottom {
			width: 25px;	
		}
	}
}

body.open {
	#toggle {
		right: 50px;	
	}
	header {
		ul#nav {
			display: block;	
			opacity: 1;	
			pointer-events: all;
		}
	
		ul#nav {
			li {
				opacity: 0;	
				-webkit-animation: listfade .5s forwards; /* Chrome, Safari, Opera */
				    animation: listfade .5s forwards;
			}
			li {
			    
			    &:nth-child(1) {
					animation-delay: .1s;
					-webkit-animation-delay: .1s;
			    }
			    &:nth-child(2) {
					animation-delay: .15s;
					-webkit-animation-delay: .15s;
			    }
			    &:nth-child(3) {
					animation-delay: .2s;
					-webkit-animation-delay: .2s;
			    }
			    &:nth-child(4) {
					animation-delay: .25s;
					-webkit-animation-delay: .25s;
			    }
			    &:nth-child(5) {
					animation-delay: .3s;
					-webkit-animation-delay: .3s;
			    }
			    &:nth-child(6) {
					animation-delay: .35s;
					-webkit-animation-delay: .35s;
			    }
			    &:nth-child(7) {
					animation-delay: .4s;
					-webkit-animation-delay: .4s;
			    }
			    &:nth-child(8) {
					animation-delay: .45s;
					-webkit-animation-delay: .45s;
			    }
			    
			}
			
		}
	}				
	#toggle {
/*
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
*/
		
		span {
		
			&.top {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
				-webkit-transform-origin: 4px 6px;
				-moz-transform-origin: 4px 6px;
				-ms-transform-origin: 4px 6px;
				-o-transform-origin: 4px 6px;
				transform-origin: 4px 6px;
				background: $gray;
				width: 35px;	
			}
			&.middle {
				opacity: 0;	
			}
			&.bottom {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
				-webkit-transform-origin: 6px -2px;
				-moz-transform-origin: 6px -2px;
				-ms-transform-origin: 6px -2px;
				-o-transform-origin: 6px -2px;
				transform-origin: 6px -2px;
				background: $gray;
				width: 35px;	
			}
		
		}
	}
}
@keyframes listfade { 
	to { opacity: 1; right: 0px;}
}

@-webkit-keyframes listfade { 
	to { opacity: 1;  right: 0px;}
}

@-moz-keyframes listfade { 
	to { opacity: 1; right: 0px;}
}

@-ms-keyframes listfade { 
	to { opacity: 1;  right: 0px;}
}

body.top-page {
	#toggle {
	}
}

/********************************************************************************************* 

x. Sections

*********************************************************************************************/

section {
}

/********************************************************************************************* 

x. Home

*********************************************************************************************/

.image-fill {
	position: absolute;	
	left: 40px;	
	right: 40px;		
	top: 40px;	
	bottom: 40px;	
	opacity: .7;	
	z-index: 9;	
	display: none;	

}

.image-bg {
	position: absolute;	
	left: 40px;	
	right: 40px;		
	top: 40px;	
	bottom: 40px;
	background:$brown;
	z-index: 8;	
	overflow: hidden;	
}

#banner-logo {
	z-index: 99;	
	width: 100%;
	padding-left: 30px;	
	padding-right: 30px;		
	svg {
		width: 427.5px;	
		height: 75px;	
	}
}

.page-text {
	position: absolute;	
	z-index: 99;	
	bottom: 140px;	
	left: 100px;	
	width: 80%;	
	h1 {
		color: #fff;
		line-height: 1.1em;	
		font-weight: 100;
		margin-bottom: 20px;
		span {
// 			height: 89.1px;	
			min-width: 1px;
			display: inline-block;		
		}			
		.color-tan {
			color: $tan;
		}
	}
	p {
		color: #fff;	
		font-weight: 500;	
		font-size: 1.1em;	
		max-width: 900px;	
	}
}

.type {
	display: none;	
}

.ti-cursor {
	display: none !important;	
}

#fp-nav.fp-right {
	right: 80px;	
	bottom: 100px;	
	top: auto;
	opacity: 1;	
	@include transition(.35s, all);
}

.fp-viewing-3 {
	#fp-nav.fp-right {
		opacity: 0;	
	}
}

#fp-nav ul li, .fp-slidesNav ul li {
	width: 8px;	
	height: 8px;	
	margin: 10px;	
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;	
	width: 8px;	
	height: 8px;	
	background: #fff;	
	margin: 0 !important;	
	top: 0;	
	left: 0;	
	right: 0;	
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;	
	width: 8px;	
	height: 8px;	
	background: $tan;	
	margin: 0 !important;
	top: 0;	
	left: 0;	
	right: 0;		
}

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
	width: 8px;	
	height: 8px;	
	background: $tan;
}
/********************************************************************************************* 

x. Three Col

*********************************************************************************************/

.three-col {
	display: flex;
	flex-wrap: wrap;
	float: left;
	width: 100%;	
	color: #fff;	
	.col {
		padding: 60px;	
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
		.col-icon {
			margin-top: 30px;	
			margin-bottom: 30px;	
		}
		.inner {
			display: inline-block;	
			max-width: 340px;	
		}
		h2, p {
			margin: 0;	
			color: #fff;	
		}
		ul.list {
			font-weight: 300;
			margin-top: 40px;	
			li {
				border-bottom: 1px solid rgba(255,255,255,.25);
				&:last-child {
					border-bottom: none;
				}
			}
		}
		.listed {
			ul {
				font-weight: 300;
				margin-top: 40px;	
				li {
					border-bottom: 1px solid rgba(255,255,255,.25);
					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}
}

ul.list {
	list-style-type: none;	
	font-family: freight-macro-pro;
	text-align: center;	
	font-size: 1.1em;	
	letter-spacing: .02em;	
	font-weight: 600;
	li {
		padding: 20px;	
		border-bottom: 1px solid $tan;
		&:last-child {
			border-bottom: none;
		}
	}
}

.ninja-forms-noscript-message {
	margin: 50px 0;	
}

.listed {
	ul {
		list-style-type: none;	
		font-family: freight-macro-pro;
		text-align: center;	
		font-size: 1.1em;	
		letter-spacing: .02em;	
		font-weight: 600;
		li {
			padding: 20px;	
			border-bottom: 1px solid $tan;
			&:last-child {
				border-bottom: none;
			}
		}
	}
}

.col-icon {
	width: 130px;	
	height: 130px;	
	background: rgba(255,255,255, .3);
	position: relative;	
	display: inline-block;	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;	
	color: #fff;	
	padding: 22px 0;	
	@include transition(.35s, all);
	svg {
		width: 80px;	
		height: 80px;
		overflow: visible;		
		
	}
}

.fire-col {
	&:hover {
		.flames {
			position: relative;
			-webkit-animation: flameup .5s infinite; /* Chrome, Safari, Opera */
			-ms-animation: flameup .5s infinite;
			animation: flameup .5s infinite;
			transform-origin: center center;
		}
	}
}

.col {
	&:hover {
		.col-icon {
			-moz-transform: scale(1.1);
			-webkit-transform: scale(1.1);
			-o-transform: scale(1.1);
			-ms-transform: scale(1.1);
			transform: scale(1.1);
			background: rgba(255,255,255, .5);
		}
	}
}

@keyframes flameup { 
	0% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	20% { 
		-moz-transform: scale(1.02) rotate(-2deg);
		-webkit-transform: scale(1.02) rotate(-2deg);
		-o-transform: scale(1.02) rotate(-2deg);
		-ms-transform: scale(1.02) rotate(-2deg);
		transform: scale(1.02) rotate(-2deg);
	}
	40% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	60% { 
		-moz-transform: scale(.98) rotate(-2deg);
		-webkit-transform: scale(.98) rotate(-2deg);
		-o-transform: scale(.98) rotate(-2deg);
		-ms-transform: scale(.98) rotate(-2deg);
		transform: scale(.98) rotate(-2deg);
	}
	80% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	100% {
		-moz-transform: scale(1.013) rotate(-2deg);
		-webkit-transform: scale(1.013) rotate(-2deg);
		-o-transform: scale(1.013) rotate(-2deg);
		-ms-transform: scale(1.013) rotate(-2deg);
		transform: scale(1.013 rotate(-2deg));
	}
}

@-webkit-keyframes flameup { 
	0% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	20% { 
		-moz-transform: scale(1.2) rotate(-2deg);
		-webkit-transform: scale(1.2) rotate(-2deg);
		-o-transform: scale(1.2) rotate(-2deg);
		-ms-transform: scale(1.2) rotate(-2deg);
		transform: scale(1.2) rotate(-2deg);
	}
	40% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	60% { 
		-moz-transform: scale(.8) rotate(-2deg);
		-webkit-transform: scale(.8) rotate(-2deg);
		-o-transform: scale(.8) rotate(-2deg);
		-ms-transform: scale(.8) rotate(-2deg);
		transform: scale(.8) rotate(-2deg);
	}
	80% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	100% {
		-moz-transform: scale(1.13) rotate(-2deg);
		-webkit-transform: scale(1.13) rotate(-2deg);
		-o-transform: scale(1.13) rotate(-2deg);
		-ms-transform: scale(1.13) rotate(-2deg);
		transform: scale(1.13 rotate(-2deg));
	}
}
@-moz-keyframes flameup { 
	0% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	20% { 
		-moz-transform: scale(1.2) rotate(-2deg);
		-webkit-transform: scale(1.2) rotate(-2deg);
		-o-transform: scale(1.2) rotate(-2deg);
		-ms-transform: scale(1.2) rotate(-2deg);
		transform: scale(1.2) rotate(-2deg);
	}
	40% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	60% { 
		-moz-transform: scale(.8) rotate(-2deg);
		-webkit-transform: scale(.8) rotate(-2deg);
		-o-transform: scale(.8) rotate(-2deg);
		-ms-transform: scale(.8) rotate(-2deg);
		transform: scale(.8) rotate(-2deg);
	}
	80% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	100% {
		-moz-transform: scale(1.13) rotate(-2deg);
		-webkit-transform: scale(1.13) rotate(-2deg);
		-o-transform: scale(1.13) rotate(-2deg);
		-ms-transform: scale(1.13) rotate(-2deg);
		transform: scale(1.13 rotate(-2deg));
	}
}

@-ms-keyframes flameup { 
	0% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	20% { 
		-moz-transform: scale(1.2) rotate(-2deg);
		-webkit-transform: scale(1.2) rotate(-2deg);
		-o-transform: scale(1.2) rotate(-2deg);
		-ms-transform: scale(1.2) rotate(-2deg);
		transform: scale(1.2) rotate(-2deg);
	}
	40% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	60% { 
		-moz-transform: scale(.8) rotate(-2deg);
		-webkit-transform: scale(.8) rotate(-2deg);
		-o-transform: scale(.8) rotate(-2deg);
		-ms-transform: scale(.8) rotate(-2deg);
		transform: scale(.8) rotate(-2deg);
	}
	80% { 
		-moz-transform: scale(1) rotate( 2deg);
		-webkit-transform: scale(1) rotate( 2deg);
		-o-transform: scale(1) rotate( 2deg);
		-ms-transform: scale(1) rotate( 2deg);
		transform: scale(1) rotate( 2deg);
	}
	100% {
		-moz-transform: scale(1.13) rotate(-2deg);
		-webkit-transform: scale(1.13) rotate(-2deg);
		-o-transform: scale(1.13) rotate(-2deg);
		-ms-transform: scale(1.13) rotate(-2deg);
		transform: scale(1.13 rotate(-2deg));
	}
}


.mountain-col {
	svg {
		@include transition(.35s, all);
	}
	.col-icon {
		overflow: hidden;	
	}
	.flag-1 {
		-moz-transform: translateY(125px);
		-webkit-transform: translateY(125px);
		-o-transform: translateY(125px);
		-ms-transform: translateY(125px);
		transform: translateY(125px);
		transform-origin: center bottom;
		@include transition(.35s, all);
	}
	.flag-2 {
		-moz-transform: translateY(120px);
		-webkit-transform: translateY(120px);
		-o-transform: translateY(120px);
		-ms-transform: translateY(120px);
		transform: translateY(120px);
	}
	&:hover {
		.flag-1 {
			-moz-transform: translateY(10px);
			-webkit-transform: translateY(10px);
			-o-transform: translateY(10px);
			-ms-transform: translateY(10px);
			transform: translateY(10px);
		}
		svg {
// 			transform: scale(3) translate(8px, 20px);
		}
	}
}


.compass-col {
	.arrow {
		position: absolute;	
		top: 50%;	
		left: 50%;	
		margin: -40px 0 0 -40px;
//			@include transition(.35s, all);
/*
		-moz-transform: translate(0);
		-webkit-transform: translate(0);
		-o-transform: translate(0);
		-ms-transform: translate(0);
		transform: translate(0);
*/
		svg {
			position: relative;
			-moz-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
			@include transition(.35s, all);
		}
	}

	&.not-hovered {
		.col-icon {
			.arrow {
				svg {
					-moz-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					transform: rotate(0deg);
				}
			}
		}
	}
}

.hidden {
	@include transition(opacity, .35s);
	opacity: 0;	
	&.showit {
		opacity: 1;	
	}
}


/********************************************************************************************* 

x. Normal Scroll

*********************************************************************************************/

#normal {
	opacity: 0;	
	@include transition(.35s, all);
	&.active {
		opacity: 1;	
	}
}

.normal-wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	float: left;
	width: 100%;	
	padding-top: 80px;	
}

#our-clients {
	background: url(../img/wood-texture.jpg) center center;
	padding: 50px;	
	h1 {
		margin-bottom: 20px;	
	}
}

#jobs {
	background: url(../img/wood-texture.jpg) center center;
	padding: 50px;	
	h1, h2 {
		margin-bottom: 20px;
	}
	p, label {
		color: #fff;	
	}
	.ja-form {
		margin: 50px 0;	
	}
	input[type="text"] {
		padding: 16px 30px !important;		
		border: 2px solid #fff !important;	
		color: $tan !important;
		text-transform: uppercase ;	
		font-weight: 500;	
		font-size: 14px;	
		letter-spacing: .08em;	
	}
	input[type="button"] {
		padding: 16px 30px;		
		border: 2px solid $tan;	
		text-transform: uppercase;	
		font-weight: 500;	
		font-size: 14px;	
		letter-spacing: .08em;	
		background-color: transparent;	
		color: $tan;
		cursor: pointer;
		@include transition(all, .35s);
		&:hover {
			background: $tan;
			color: $brown
		}
	}
}

.ja-field-container {
	display: inline-block;	
	text-align: left;
	label {
		margin-bottom: 10px;	
		display: block;	
	}
}
.ja-submit {
	display: inline-block;	
}

.client-logos {
	display: flex;
	flex-wrap: wrap;
	.client-logo {
		width: 33.333%;	
		min-height: 190px;	
		display: flex;
	    flex-wrap: wrap;
	    align-items: center;
	    justify-content: center;
	    border-bottom: 	1px solid rgba(255,255,255, .5);
	    border-right: 1px solid rgba(255,255,255, .5);	
	    &:nth-child(3n + 3) {
		    border-right: none;	
	    }
	    &:last-child, &:nth-last-child(2), &:nth-last-child(3) {
		    border-bottom: none;	
	    }
	}
}

.half {
	width: 50%;	
}

.whole {
	width: 100%;	
}

#recent-work {
	width: 100%;	
	float: left;
	padding-bottom: 80px;	
	.work {	
		float: left;
		width: 50%;	
		.inner {
		padding: 50px 50px 0 50px;	
		}
		&:nth-of-type(3n+3) {
			width: 100%;	
		}
	}
	.work-img {
		height: 60vh;
		overflow: hidden;	
		position: relative;	
		
	}
	img {
		width: 100%;
		@include transition(.35s, all);
	}
	h3 {
		color: $brown;
		margin-top: 10px;	
		font-family: freight-macro-pro;
	}
	.content {
		h3 {
			color: $tan;
		}
	}
	.work {
		&:hover {
			.bg {
				opacity: .6;	
			}
			.view {
				opacity: 1;	
			}
		}
	}
}
.margin-top {
	margin-top: 40px;	
}
h2.cs-title {
			margin-top: 0;	
		}

.bg {
	position: absolute;	
	top: 0;	
	bottom: 0;	
	left: 0;	
	width: 100%;	
	background: $tan;
	@include transition(.35s, all);
	opacity: 0;	
}	

.black-bg {
	position: absolute;	
	top: 0;	
	left: 0;	
	right: 0;	
	bottom: 0;	
	background: $brown;	
	opacity: .3;	
	z-index: 8;	
}

.view {
	margin-top: 15px;	
	position: absolute;	
	top: 50%;	
	left: 50%;	
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;	
	font-family: montserrat, sans-serif;
	font-size: 14px;	
	letter-spacing: .08em;
	text-transform: uppercase;	
	font-weight: 500;	
	opacity: 0;	
	@include transition(.35s, all);
	&::after {
		display: block;	
		content:'';
		width: 26px;	
		height: 2px;	
		background: #fff;	
		position: absolute;	
		left: 50%;	
		margin-left: -12px;	
		bottom: 100%;	
		margin-bottom: 22px;	
	}
	&::before {
		display: block;	
		content:'';
		height: 25px;	
		width: 2px;	
		background: #fff;	
		position: absolute;
		bottom: 100%;	
		margin-bottom: 10px;	
		left: 50%;	
	}

}

.tag {
	font-size: 12px;	
	letter-spacing: .08em;	
	text-transform: uppercase;	
	font-weight: 600;	
}

/********************************************************************************************* 

x. Footer

*********************************************************************************************/

footer {
	float: left;
	width: 100%;	
	padding: 40px;	
	background: $green;
	font-family: depot-new-condensed-web, sans-serif;
	font-weight: 600;	
	text-transform: uppercase;	
	letter-spacing: .08em;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	.container {
		text-align: center;	
	}
	.f-left {
		text-align: left;
		float: left;
		font-size: 16px;	
		a {
			display: block;	
			color: #fff;	
			margin-bottom: 10px;
			@include transition(.35s, all);	
			span {
				color: $tan;
			}
			&:hover {
				color: $tan;
			}
		}
	}
	.f-logo {
		display: inline-block;	
		max-width: 400px;	
		text-align: center;	
		position: absolute;
	    left: 50%;
	    margin-left: -200px;
	    width: 400px;
		.logo-fill {
			fill: $tan;
		}
		.fill-1, .fill-2, .fill-3, .fill-4, .fill-5 {
			display: none;	
		}
		svg {
			width: 120px;	
			display: inline-block;	
			position: relative;	
			left: -10px;	
		}
		p {
			color: #fff;	
			font-size: 12px;
			margin-top: 10px;	
			margin-bottom: 0;		
			.divider {
				margin-left: 5px;	
				margin-right: 5px;	
				color: $tan;
				display: inline-block;	
			}
		}
		a {
			color: #fff;	
		}
	}
	.f-right {
		float: right;
		min-width: 120px;
		a.careers {
			padding: 7px 15px;	
			display: block;	
			background: $brown;
			color: #fff;	
			font-size: 14px;	
			margin-bottom: 15px;	
			width: 100%;	
			@include transition(.35s, all);
			&:hover {
				background: $tan;
				color: $brown;
			}
		}	
		.social {
			a {
				@include transition(.35s, all);
				width: 33.333%;	
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;		
				float: left;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

.callout {
	position: relative;	
	padding: 50px;	
	width: 100%;	
	float: left;
	overflow: hidden;	
	background: url(../img/pattern-orange.jpg) center center repeat;
// 	background-attachment: fixed;
	color: #fff;	
	h1 {
		margin-bottom: 10px;	
	}
	span.bullet {
		background: #fff;	
	}
	p {
		font-size: 1.1em;
		font-weight: 500;		
	}
	.callout-text {
		max-width: 500px;	
		margin-left: auto;	
		margin-right: auto;	
		margin-bottom: 40px;
		position: relative;	
		z-index: 9;		
	}
	
	&.larger {
		padding: 100px 40px;	
		background-image: url(../img/pattern-orange.jpg);
		background-attachment: fixed;
		&.gray-terrain {
			background-image: url(../img/pattern-gray.jpg);
		}
		&.white-terrain {
			background-image: url(../img/pattern-white.jpg);
			color: $gray;
		}
		.callout-text {
			max-width: 800px;	
			margin-bottom: 0;	
			text-align: left;
		}
		p {
			font-size: 1.3em;	
			margin: 0;	
			line-height: 1.8em;	
		}
	}
	&.landscape {
		background-image: url(../img/landscape.jpg);
		background-attachment: inherit;
		background-size: cover;
		margin-bottom: 0 !important;	
		.callout-text {
			.btn {
				margin-top: 40px;	
			}	
		}
	}
}

.page-template-services {
	.callout {
		margin-bottom: 40px;	
	}
}

.schwa {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	transform-origin: center 64px;
    position: relative;
    display: inline-block;
}
span.bullet {
	width: 12px;	
	height: 12px;	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;	
	display: inline-block;	
	margin-left: 10px;	
	margin-right: 10px;	
	background: $gray;
	margin-bottom: 15px;	
}

section {

}

/********************************************************************************************* 

x. About

*********************************************************************************************/

.intro {
	width: 100%;	
	min-height: 420px;
	position: relative;	
	.page-text {
		bottom: 60px;	
		z-index: 999;	
	}
	.image-bg {
		top: 0;	
	}
	.image-fill {
		top: 0;	
	}
}

.image-text {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding: 50px 0 10px 0;	
	> div {
		padding: 50px;	
	}
	img {
		width: 100%;	
	}
	.text-side {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		max-width: 700px;
		p, ul, ol {
			font-weight: 500;	
		}
	}
	.image-side {
		position: relative;	
		padding: 40px;	
		img {
			margin-bottom: 40px;	
		}
		.slides-container {
			min-height: 1000px;
			padding: 0;		
			position: relative;	
		}
		.bg {
			opacity: 0;	
			background: rgba($tan, .8);
		}
		.quote {
			color: #fff;	
			font-style: italic;	
			font-size: 15px;
			padding-top: 20px;	
			padding-bottom: 20px;	
			margin-right: 10px;	
			font-weight: 500;	
			width: 80%;	
/*
			&:before {
				position: absolute;	
				top: 15px;		
				right: 100%;
				margin-right: 10px;			
				content: '';
				width: 31px;	
				height: 25px;	
				background: url(../img/quotation.png) center center no-repeat;
			}
			&:after {
				position: absolute;	
				bottom: 15px;	
				margin-left: 10px;		
				left: 100%;		
				content: '';
				width: 31px;	
				height: 25px;	
				background: url(../img/quotation.png) center center no-repeat;
				-moz-transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}
*/
			p {
				&.from {
					font-size: 13px;	
					text-align: right;	
				}
			}
		}
		.quote-slider {
			width: 50%;	
			position: absolute;	
			.slides>li {
				min-height: 100%;
				width: 100%;	
				position: absolute !important;	
				.cover {
					position: absolute;	
					top: 20px;	
					left: 20px;	
					right: 20px;	
					bottom: 20px;
					&:hover {
						.bg {
							opacity: 1;	
						}
					}	
				}
			}
		}
		.slider1 {
			height: 40%;
			left: 0;	
			top: 0;	
		}
		.slider2 {
			bottom: 0;	
			left: 0;	
			height: 60%;	
		}
		.slider3 {
			top: 0;	
			right: 0;	
			height: 60%;	
		}
		.slider4 {
			right: 0;	
			height: 40%;	
			bottom: 0;
		}
	}
	.container {
		padding-left: 50px;	
		padding-right: 50px;	
	}
}



h1.word {
}


.dashed {
	fill:none;
	stroke:#797879;
	stroke-width:4.4415;
	stroke-linecap:round;
	stroke-miterlimit:10;
	stroke-dasharray:6.5801,13.1602;
	animation: dash-animation 20s infinite linear;
}

@keyframes dash-animation {
  to {
    stroke-dashoffset: -1000;
  }
}

.stroke1 {
	position: absolute;	
	left: 45px;
    top: 150px;
    width: 170px;	
	overflow: hidden;	
	svg {
		width: 100%;	
	}	
}

.stroke2 {
	position: absolute;	
	left: 45px;	
	bottom: 100%;	
    width: 268px;
    margin-bottom: 15px;		
	overflow: hidden;
	height: 160px;
    margin-bottom: 30px;	
	svg {
		width: 100%;	
	}	
}

.titles {
	h2 {
		margin-top: 0;	
	}
	p {
		font-weight: 500;	
		font-size: 1.1em;	
	}
}

.big-padding {
	padding-top: 100px;	
	padding-bottom: 100px;	
}

section#team {
	padding-bottom: 0;	
}

#recent-work {
	.full-information {
		padding-left: 50px;	
		padding-right: 50px;	
		position: relative;	
		.inside {
			max-width: none;	
			margin-top: 100px;
			margin-bottom: 50px;	
			padding: 50px;		
			border-top: 2px solid $tan;
			border-bottom: 2px solid $tan;
			float: left;
			width: 100%;	
			&.with-gallery {
				#info {
					width: 55%;	
					float: left;
					padding-left: 40px;	
				}
			}
		}	
		.close {
			position: absolute;	
			right: 50px;	
			top: 120px;	
			width: 25px;	
			height: 25px;	
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			&::after {
				display: block;	
				content:'';
				width: 26px;	
				height: 2px;	
				background: $gray;	
				position: absolute;	
				left: 50%;	
				margin-left: -12px;	
				margin-top: 12px;	
			}
			&::before {
				display: block;	
				content:'';
				height: 25px;	
				width: 2px;	
				background:$gray;	
				position: absolute;
				left: 50%;	
			}
			&:hover {
				&::after, &::before {
					background: $tan;
				}
			}
		}
	}
}

.slideshow {
	width: 45%;	
	float: left;
	padding-right: 40px;	
	padding-top: 18px;	
}

.topper {
	font-family: freight-macro-pro;
	text-transform: uppercase;	
	color: $gray;
	font-weight: 600 !important;
	font-size: 26px !important;	
	line-height: 1em;	
}

section#culture {
	margin-top: 40px;	
	.image-text {
		padding-top: 0;	
	}
}

form {
	padding: 100px;
	.nf-form-fields-required {
		margin-left: 3px;	
		margin-bottom: 10px;	
		font-size: .9em;	
	}
	.nf-form-content  {		
	}
	label {
		display: none;	
	}
}

.nf-form-content .list-select-wrap .nf-field-element>div, .nf-form-content input:not([type=button]), .nf-form-content textarea {
	border: none !important;
	background: #f1f1f0 !important;		
	padding-left: 20px !important;	
}

.nf-form-content button, .nf-form-content input[type=button], .nf-form-content input[type=submit] {
	padding: 16px 30px !important;		
	border: 2px solid $tan !important;	
	color: $tan !important;
	text-transform: uppercase ;	
	font-weight: 500;	
	font-size: 14px;	
	letter-spacing: .08em;	
	@include transition(all, .35s);
	background-color: transparent !important;
	min-width: 40%;		
	cursor: pointer !important;
	&:hover {
		background: $tan !important;
		color: #fff !important;
	}
}

.nf-error-msg {
	font-size: .9em;	
}

/********************************************************************************************* 

x. Mix

*********************************************************************************************/

.mix-container {
	margin-top: 20px;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
	clear: both;	
	width: 100%;	
	padding-left: 60px;	
	padding-right: 60px;	
	display: flex;
	flex-wrap: wrap;
}

.mix {
	width: 33.3333%;
	float: left;	
	padding: 40px;	
	cursor: pointer;
	display: flex;
	img {
		display: block;	
	}
	.mix-inside {
		overflow: hidden;	
		position: relative;	
		background: $brown;
				@include transition(all, .35s);

	}
	.mix-img {
		position: relative;	
		z-index: 8;	
		img {
			width: 100%;	
			@include transition(all, .35s);
		}
	}
	.mix-text {
		padding: 30px;	
		color: #fff;	
		position: relative;	
		bottom: 0;	
		left: 0;	
		width: 100%;	
		@include transition(all, .1s);
		z-index: 9;	
		background: $brown;
		top: -2px;	
		h4 {
			font-weight: 500;	
			font-family: freight-macro-pro;
		}
		p.job {
			margin: 0;	
			font-size: 15px;
			color: $tan;
		}
	}

	a.link {
		position: absolute;	
		left: 0;	
		top: 0;	
		right: 0;	
		bottom: 0;	
		z-index: 99;	
		display: block !important;	
	}
	&:hover {
		.mix-inside {
			background: $tan;
		}
		img {
			-moz-transform: scale(1.1);
			-webkit-transform: scale(1.1);
			-o-transform: scale(1.1);
			-ms-transform: scale(1.1);
			transform: scale(1.1);
		}
		.view {
			opacity: 1;	
		}
		.bg {
			opacity: 1;	
		}
	}
	&.active {
		img {
			-moz-transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-o-transform: scale(1.2);
			-ms-transform: scale(1.2);
			transform: scale(1.2);
			transform-origin: 50% 50%;
			-moz-transform-origin: 50% 50%;
			-webkit-transform-origin: 50% 50%;
			-o-transform-origin: 50% 50%;
		}
		.mix-text {
		}
	}
}

.person-title {
	margin-bottom: 20px;	
	h2 {
		font-size: 1.7em;	
		font-weight: 500;	
	}
	.divider {
		display: inline-block;	
		margin-left: 20px;	
		margin-right: 20px;	
		width: 2px;	
		background: $lightgray;
		height: 30px;
		position: relative;	
		top: 5px;		
	}
	p.job {
		display: inline;
		color: $tan;
		font-weight: 500;		
	}
}

.full-information {
	display: none;	
	p {
		font-weight: 500;	
	}
	.inside {
		padding: 50px;	
		max-width: 1100px;
		margin-left: auto;	
		margin-right: auto;	
		float: none;		
		text-align: left;	
		p.job {
		}
	}
}

#specialty {
	.container {
		max-width: 1200px;	
	}
	ul.list, .listed {
/*
		padding-left: 40px;	
		padding-right: 40px;	
*/
		li {
			width: 45%;	
			margin: 0 2.5%;	
			display: block;
			float: left;	
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;	
			&:nth-last-child(2) {
				border-bottom: 	none;
			}
		}
		&.column-2 {
			li {
				border-bottom: none;
				border-top: 1px solid $tan;
			}
		}

	}
}

.column-2 {
	display: none;
}

#approach {
	padding: 40px 0;	
}

.approach {
	max-width: 650px;	
	padding-left: 140px;	
	position: relative;	
	margin: 20px 0;	
	float: left;
	&:nth-of-type(even) {
		float: right !important;	
	}
	h2 {
		font-size: 1.5em;	
	}
	p {
	}
	.number {
		width: 100px;	
		height: 100px;	
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;	
		background: rgba(255,255,255, .2);
		text-align: center;	
		color: $gray;
		font-size: 2.6em;
		font-family: freight-macro-pro;
		font-weight: 100;	
		line-height: 85px;	
		position: absolute;	
		left: 0;	
		top: 10px;	
	}
}

#experience {
	.image-text {
		flex-direction: row-reverse;
	}
}

#ja-jobs-widget {
	margin: 40px 0;	
	color: #fff;	
	border-top: 1px solid $tan;
	padding-top: 40px;		
	h2 {
		font-size: 1.8em;	
		color: $tan;
	}
	.description {
		text-align: left;
		font-size: 16px;	
		line-height: 1.6em;	
		margin-top: 50px;	
		div {
			margin-bottom: 10px;	
		}
		ul {
			padding-left: 20px;	
			margin-bottom: 30px;	
			li {
				margin-bottom: 5px;	
			}
		}
	}
	a {
		&:hover {
			color: #fff;
		}
	}
	.summary {
		margin-top: 20px;	
	}
}

.back-link {
	margin-right: 20px;	
	&:hover {
		color: #fff;
	}
}

ul.classifications {
	display: inline-block;	
	li {
		display: inline-block;	
		color: #fff;	
		font-size: 14px;	
		padding: 0 15px;	
		border-right: 1px solid $tan;
		line-height: 16px;
		&:last-child {
		}
	}
}


.date-posted {
	display: inline-block;	
	font-size: 14px;
	padding-left: 15px;		
	line-height: 16px
}

#myVideo {
  position: absolute;
  z-index: 9;	
  opacity: .6;	
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#introvid {
  position: absolute;
  z-index: 9;	
  opacity: .6;	
  top: 0;	
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
    min-width: 1400px;
    min-height: 100%;
    width: 101%;
}
#view-more {
	display: none;	
}
.nf-fu-progress {
	margin-top: 20px;	
}

.powered-by-jobadder {
	display: none;	
}

.vidbg {
	video {
		width: 100%;	
		min-width: 500px;	
		position: absolute;
	    top: 50%;
	    left: 50%;
	    -moz-transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	}
}

.nf-fu-fileinput-button {
	height: 50px;
	line-height: 14px;	
	span {
		font-size: 14px !important;	
	}
}

.nf-form-content input[type=button] {
	line-height: 14px;	
}

#section2 {
	.image-fill {
		display: none !important;	
	}
} 

.ja-job-list .job {
	padding-bottom: 30px;	
	margin-bottom: 30px;	
	border-bottom: 1px solid $tan;
}

.def {
	h1 {
		line-height: 1.4em;	
	}
}

.callout {
	.flex-control-paging li a.flex-active {
		background: #fff;	
	}
}
.floater {
	width: 100%;	
	float: left;
	display: block;	
}

/********************************************************************************************* 

x. Import

*********************************************************************************************/

@import 'style-responsive';
