body {
	font: 12px Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 130%;
}

h2 {
	font-size: 125%;
}

h3 {
	font-size: 120%;
}

h4 {
	font-size: 115%;
}

h5 {
	font-size: 110%;
}

h6 {
	font-size: 105%;
}

p {
	line-height: 1.5em;
}